@import "standard.css";

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background: #fff;
}

.wrapper .header {
    z-index: 1;
    background: #22242A;
    position: fixed;
    width: calc(100% - 0%);
    height: 70px;
    display: flex;
    top: 0;
}

.wrapper .header .header-menu {
    width: calc(100% - 0%);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.wrapper .header .header-menu .title {
    color: #FFFF00;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 900;
}

.wrapper .header .header-menu .title span {
    color: #4CCEE8;
}

.wrapper .header .header-menu .sidebar-btn {
    color: #fff;
    position: absolute;
    margin-left: 210px;
    font-size: 22px;
    font-weight: 900;
    cursor: pointer;
    transition: 0.3s;
    transition-property: color;
}

.wrapper .header .header-menu .sidebar-btn:hover {
    color: #4CCEE8;
}

.wrapper .header .header-menu ul {
    display: flex;
}

.wrapper .header .header-menu ul li a {
    background: #fff;
    color: #000;
    display: block;
    margin: 0 10px;
    font-size: 18px;
    width: 34px;
    height: 34px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    transition-property: background, color;
}

.wrapper .header .header-menu ul li a:hover {
    background: #4CCEE8;
    color: #fff;
}

.wrapper .sidebar {
    z-index: 1;
    background: #2F323A;
    position: fixed;
    top: 70px;
    width: 250px;
    height: 100%;
    transition: 0.3s;
    transition-property: width;
    overflow-y: auto;
}

.wrapper .sidebar .sidebar-menu {
    overflow: hidden;
}

.wrapper .sidebar .sidebar-menu .profile img {
    margin: 20px 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.wrapper .sidebar .sidebar-menu .profile p {
    color: #bbb;
    font-weight: 700;
    margin-bottom: 10px;
}

.wrapper .sidebar .sidebar-menu .item {
    width: 250px;
    overflow: hidden;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn {
    display: block;
    color: #fff;
    position: relative;
    padding: 25px 20px;
    transition: 0.3s;
    transition-property: color;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn:hover {
    color: #4CCEE8;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn i {
    margin-right: 20px;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn .drop-down {
    float: right;
    font-size: 12px;
    margin-top: 3px;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu {
    background: #3498DB;
    overflow: hidden;
    max-height: 0;
    transition: 0.3s;
    transition-property: background, max-height;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu a {
    display: block;
    position: relative;
    color: #fff;
    white-space: nowrap;
    font-size: 15px;
    padding: 20px;
    transition: 0.3s;
    transition-property: background;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu a:hover {
    background: #55B1F0;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu a:not(last-child) {
    border-bottom: 1px solid #8FC5E9;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu i {
    padding-right: 20px;
    font-size: 10px;
}

.wrapper .sidebar .sidebar-menu .item:target .sub-menu {
    max-height: 500px;
}

.wrapper .main-container {
    width: (100% - 250px);
    margin-top: 70px;
    margin-left: 250px;
    padding: 15px;
    height: 100vh;
    transition: 0.3s;
}

.wrapper.hide .sidebar {
    width: 70px;
}

.wrapper.hide .sidebar .profile img,
.wrapper.hide .sidebar .profile p,
.wrapper.hide .sidebar a span {
    display: none;
}

.wrapper.hide .sidebar .sidebar-menu .item .menu-btn {
    font-size: 23px;
}

.wrapper.hide .sidebar .sidebar-menu .item .sub-menu i {
    font-size: 18px;
    padding-left: 3px;
}

.wrapper.hide .main-container {
    width: calc(100% - 70px);
    margin-left: 70px;
}


/* Mobile responsive  */
@media screen and (max-width: 700px) {

    .wrapper.hide .sidebar .profile img,
    .wrapper.hide .sidebar .profile p,
    .wrapper.hide .sidebar a span {
        display: none;
    }

    .sidebar.hide i {
        font-size: 18px;
        padding-left: 3px;
    }

    .wrapper.hide .sidebar {
        width: 70px;
    }

    .wrapper .main-container {
        width: calc(100% - 70px);
        margin-left: 70px;
    }
}


@import "app.css";

.custom .main-container .card {
    background: #fff;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 14px;
}

.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    right: 4px;
    left: auto;
    width: 250px;
    max-height: 50vh;
    overflow: auto;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

.column {
    float: left;
    width: 50%;
    padding: 10px;

}

.carousel-inner {
    width: 100%;
    max-height: 100% !important;
}

.facility-img {
    background-size: 150px;
    width: 300px;
    height: 300px;
    border: 2px solid;
}

.barangay-img {
    background-size: 150px;
    border: 2px solid;
    width: 18rem;
    margin-left: 20px;
}

/* Notification */

.notifications {
    width: 250px;
    height: 10px;
    opacity: 0;
    position: absolute;
    top: 44px;
    right: 62px;
    border-radius: 5px 0px 5px 5px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}


.notifications h2 {
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px solid #eee;
    color: #999
}

.notifications h2 span {
    color: #f00
}

.notifications-item {
    display: flex;
    border-bottom: 1px solid #eee;
    padding: 6px 9px;
    margin-bottom: 0px;
    /*cursor: pointer*/
}

.notifications-item:hover {
    background-color: #eee;
    
}

.notifications-item img {
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 9px;
    border-radius: 50%;
    margin-top: 2px;
}

.notifications-item .text h4 {
    color: #777;
    font-size: 12px;
    margin-top: 3px;
}

.notifications-item .text p {
    color: #aaa;
    font-size: 9px
}

.icon-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    color: #333333;
    background: #dddddd;
    border: none;
    outline: none;
    border-radius: 50%;
}
.icon-button:hover {
    cursor: pointer;
}
.icon-button__badge{
    position: absolute;
    top: -8px;
    right: -8px;
    width: 20px;
    height: 20px;
    background: red;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    border-radius: 50%
}

